<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wup.write2database.mapper.TestQuestionMapper">

    <resultMap id="BaseResultMap" type="com.wup.write2database.entity.TestQuestion">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="question" column="question" jdbcType="VARCHAR"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
            <result property="keyWords" column="key_words" jdbcType="VARCHAR"/>
            <result property="star" column="star" jdbcType="TINYINT"/>
            <result property="errRate" column="err_rate" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,type,
        question,answer,pic_url,
        key_words,star,err_rate
    </sql>
</mapper>
